<!-- layout.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- 공통 메타태그, Bootstrap, js -->
    <th:block th:replace="~{fragments/head}"></th:block>
    <!-- 커스텀 스타일 -->
    <link th:href="@{css/common.css}" rel="stylesheet">
</head>
<body>
<!-- 공통 헤더 -->
<header th:replace="~{fragments/topbar :: topbar}"></header>

<!-- 메인 콘텐츠 영역 -->
<main>
    <div layout:fragment="content">
        <!-- 기본 콘텐츠가 있다면 여기에 작성 -->
    </div>
</main>

<!-- 푸터 -->
<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
<th:block th:replace="~{fragments/config :: config}"></th:block>
</html>
